/* TIME PICKER */
.RLTimePicker {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    border: 0.0625em solid rgba(221,221,221,1);
	border-radius: 0.1875em;
}
.RLTimePicker .show {
    display: block;
}
.RLTimePicker select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    border: none;
    padding: 5px;
    height: 34px;
    /* width: 60px; */
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.RLTimePicker select option {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    cursor: pointer;    
}

.RLTimePicker select:focus {
    border-bottom-color: #ace;
    outline: none;
}
.RLTimePicker .imperial {
    width: 45px;
    padding: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.RLTimePicker .timeSeparator {
    width: 5px;
    height: 34px;
    padding: 1px;
    font-size: 100px;
    font-weight: bolder;
}
.RLTimePicker #secsContainer {
    display:inline;
    height: 34px;
}