<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.0.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.0.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.0.0/ADCSchema.xsd"
          version="2.0.0"
          askiaCompat="5.3.3">
  <info>
    <name>adc2-timepicker</name>
    <guid>80a76bae-0376-4d86-9e6b-e1ff18621ab9</guid>
    <version>1.0.1</version>
    <date>2017-03-16</date>
    <description><![CDATA[Javascript only Datapicker]]></description>
    <company>Askia</company>
    <author><![CDATA[Jatin Bhatt <jatin@askia.com>]]></author>
    <site>www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <style width="400" height="300" />
    <constraints>
      <constraint on="questions" single="false" multiple="false" numeric="false" date="true" open="false" chapter="false" requireParentLoop="false" />
      <constraint on="controls" responseblock="false" checkbox="false" label="false" listbox="false" radiobutton="false" textbox="true" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Default output]]></description>
      <content fileName="timePicker.css" type="css" mode="static" position="head" />
      <content fileName="default.css" type="css" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="rocketHelpers.js" type="javascript" mode="static" position="head" />
      <content fileName="timePicker.js" type="javascript" mode="static" position="foot" />
      <content fileName="default.js" type="javascript" mode="dynamic" position="foot" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="timePickerOptions" name="Time Picker">
      <property xsi:type="standardProperty" id="imperial" name="Time format" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Option to choose 24 hour clock or 12 hour clock]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="false" text="24 Hour clock" />
          <option value="true" text="12 Hour clock" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showSeconds" name="Show Seconds" type="boolean" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Option to show/hide seconds counter]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="true" text="Show" />
          <option value="false" text="Hide" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="stepMinutes" name="Minutes Intervals" type="number" mode="dynamic" require="false" visible="true" min="1" max="59">
        <description><![CDATA[Step intervals for minute counter]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="stepSeconds" name="Seconds Intervals" type="number" mode="dynamic" require="false" visible="true" min="1" max="59">
        <description><![CDATA[Step intervals for seconds counter]]></description>
        <value><![CDATA[1]]></value>
      </property>
    </category>
  </properties>
</control>