#adc_{%= CurrentADC.InstanceId %} select {
   /*background: ;*/
   border: none;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 18px;
   height: 29px;
   padding: 5px;
   width: 80px;
   /*border: 1px solid #ccc;*/
   height: 34px;
   width: 80px;
   text-align:center;
}
#adc_{%= CurrentADC.InstanceId %} #time_{%= CurrentADC.InstanceId %} {
   width:70px;
   border:0;
   text-align:right;
}

#adc_{%= CurrentADC.InstanceId %} .timeSeparator {
  width: 10px;
  height: 29px;
  padding: 5px;
  font-size: 100px;
  font-weight: bolder;
}

#adc_{%= CurrentADC.InstanceId %} #secsContainer {
  display:inline;
  height: 29px;
}

#adc_{%= CurrentADC.InstanceId %} select option {
  background: rgb({%= CurrentADC.PropValue("bgColor") %}); 
  color:  rgb({%= CurrentADC.PropValue("fontColor") %});
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
} 

#adc_{%= CurrentADC.InstanceId %} select option:hover {
  color: #000; 
  background-color: rgb({%= CurrentADC.PropValue("focusColor") %});
}

#adc_{%= CurrentADC.InstanceId %} .imperial {
  padding: 5px;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.RLTimePicker select:focus {
  border-bottom-color: rgb({%= CurrentADC.PropValue("focusColor") %});
  outline: none;
}