{%
Dim controlAlign
If (CurrentADC.PropValue("controlAlign") = "center" ) Then
    controlAlign = "0 auto 10px auto"
ElseIf (CurrentADC.PropValue("controlAlign") = "right" ) Then
    controlAlign = "0 0 10px auto"
Else
    controlAlign = "0 auto 10px 0"
EndIf
%}
#adc_{%= CurrentADC.InstanceId %} {
    margin: {%= controlAlign %};
    background-color: rgba({%= Theme.WhiteColor %}) !important;
}
#adc_{%= CurrentADC.InstanceId %} select {
    color: rgba({%= Theme.BlackColor %}) !important;
}
#adc_{%= CurrentADC.InstanceId %} option {
    color: rgba({%= Theme.BlackColor %}) !important;
    background-color: rgba({%= Theme.WhiteColor %}) !important;
}